body {
  font-family: "Lexend", sans-serif;
  color: white;
}

#home-page,
#movies-page {
  /* height: 95vh; */
  background-color: #002743;
}

#favorites-page {
  height: 90vh;
  background-color: #002743;
}

#movie-detail,
#add-page,
#edit-page {
  height: 90vh;
  background-color: #002743;
}

#loading-page,
#error-page {
  height: 95vh;
  background-color: #002743;
}

.detail-background {
  background-color: #004474;
  border-radius: 10px;
}

.detail-image {
  border-radius: 10px;
  height: 41rem;
  width: 27.5rem;
}

.carousel-height-img {
  height: 30rem;
  width: 100%;
  object-fit: scale-down;
  object-position: center;
}

.detail-card {
  opacity: 0;
  padding-left: 10px;
}

.detail-card:hover {
  background-color: rgba(29, 29, 29, 0.482);
  opacity: 1;
}

.movie-container {
  height: 18.75rem;
  width: 22.4ch;
}

.movie-img {
  height: 18.75rem;
  width: 18.9ch;
  object-fit: cover;
  object-position: center;
}

.pointer-button-card {
  cursor: pointer;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
}

.font-size-movie {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 20px 20px 20px 0;
  font-size: 1.3rem;
  margin: 0;
  resize: horizontal;
}

.img-hover-zoom--quick-zoom {
  transform-origin: 0.5 0.5;
  transition: transform 0.25s, visibility 0.25s ease-in;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover {
  transform: scale(1.1);
}

.container-width {
  width: 50rem;
}

.nav-bg {
  background-color: #002139;
}

.padding-right-fix {
  padding-right: 50px;
  margin-right: 15px;
}

.horizontal-scroll {
  /* margin: 4px, 4px; */
  /* padding: 4px; */
  /* background-color: #08c708; */
  /* width: 300px; */
  /* height: 35rem; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
